<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{url_for('css_static', filename='bootstrap.min.css')}}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{url_for('css_static', filename='font-awesome.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{url_for('css_static', filename='grayscale.css')}}">
    
    
    <style>
    .btn-xlarge {
    padding: 20px 38px;
    font-size: 26px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    color: #555;
	}
	
	.fond_noir {
		background: #000;
	}
	
	.navbar-header li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="fond_noir" class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div>
			<img class="img-responsive" src="/static/img/logo_uni.png" style="height: 56px" alt="">
			</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">MFDP</h1>
                        	<form id="uploadform" method="post"  action="/upload" enctype="multipart/form-data" style="display: none;">
								<label class="fileContainer">
									<input id="file_source" name="file_source" type="file" type="file" accept="image/png, image/jpeg, image/gif"> 
								</label>
								<input id="submit" type="submit" value="Submit"  style="display: none;">
							  </form>
                        <button id="trigered_button" type="button" class="btn-xlarge btn btn-warning btn-primary">Choose a picture</button>
                        <p class="intro-text">Search images based on similarity.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script type="text/javascript" src="{{url_for('js_static', filename='jquery.js')}}"></script>
    

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{url_for('js_static', filename='bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="{{url_for('js_static', filename='grayscale.js')}}"></script>
    
    <script type="text/javascript" src="{{url_for('js_static', filename='app.js')}}"></script>

</body>

</html>
