<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
  </head>
  
  <body style="background-color: GhostWhite ;">
    <div class="container">
      <div class="row" style="margin-bottom: 10px;">
	<section>
	  <form id="uploadform" method="post" enctype="multipart/form-data">
	    <div class="col-offset-md-3 col-md-12">
	      <label class="fileContainer">
		Upload an image !
		<input id="file_source" name="file_source" type="file">
	      </label>
	    </div>
	    <button id="submit" type="button" style="display: none;" >Upload</button>
	    <div class="col-md-6">
	      <img id="image_source" src="#" class="img-responsive img-rounded " style="display: none;" />
	    </div>
	    <div class="col-md-6">
	      <div id="properties" style="display: none;">
		<div class="panel panel-success">
		  <div class="panel-body">
		    <span class="label label-success">
		      Size : 12
		    </span>
		  </div>
		</div>
	      </div>
	    </div>
	  </form>
	</section>
      </div>

      <div class="row">
	<div id="results_div" style="display: none;">
	  <div class="panel panel-success">
	    <div class="panel-heading"><h4>Similar images :</h4></div>
	    <div class="panel-body">
	      <section id="results">
	      </section>
	    </div>
	  </div>
	</div>
      </div>
    </div>

<script src="{{url_for('js_static', filename='app.js')}}"></script>
</body>
</html>
